<div class="container">
  <%= render "/shared/loginslider" %>
  <%# Slider Display Listings %>
  <div class="offcanvas offcanvas-start position-absolute end-75 w-75 canvas-color" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header text-center">
      <h4 class="offcanvas-title text-success" id="offcanvasExampleLabel">My Listings</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <%# display listings %>
    <div class="offcanvas-body">
      <% @user_equipment.each do |element| %>
        <p><%= element.name %></p>
        <hr style='color: white;'>
      <% end %>
      <%# display rentals %>
      <h4 class="my-4 text-success">My Rentals</h4>
      <% @user_rental.each do |element| %>
        <p><%= element.equipment.name %></p>
        <hr style='color: white;'>
      <% end %>
    </div>
  </div>
  <%# Slider Add Listing %>
  <div class="offcanvas offcanvas-start position-absolute end-75 w-75 canvas-color" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header text-center p-3 ">
      <h4 id="offcanvas-title" class="text-success">Add Listing</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="col-12 col-sm-6">
      <div class="rounded p-3">
        <div class="offcanvas-body p-0">
          <%= simple_form_for(@equipment_new, data:{turbo: :false}) do |f| %>
            <%= f.input :name %>
            <%= f.input :category %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.input :location %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit, 'Add Listing', class:"btn btn-secondary mt-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# slider add Listing end %>
  <div class="icons-wrapper">
    <div class="col-12">
      <%= link_to "#offcanvasLeft", "data-bs-toggle" => "offcanvas" do %><%= image_tag "menu_icon.svg", class: "menu-icon" %> <% end %>
      <%= link_to "#offcanvasRight", "data-bs-toggle" => "offcanvas" do %><%= image_tag "add_icon.svg", class: "add-icon" %> <% end %>
    </div>
  </div>
  <div class="search-bar">
    <%= form_tag(root_path, method: :get, data:{turbo: :false}) do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search Equipment', width: 400 %>
      <%= submit_tag 'Search' %>
    <% end %>
    <% if @results %>
      <% @results.each do |equipment| %>
        <p><%= equipment.name %></p>
        <!-- Add other equipment attributes you want to display -->
      <% end %>
    <% end %>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="equipment-cards col-12">
      <% @equipment.each_slice(2) do |item_row| %>
        <div class="row justify-content-center">
          <% item_row.each do |item| %>
            <div class="equipment-card col-12 col-md-6 d-flex justify-content-center">
              <div class="equipment-card-inner">
                <div class="equipment-card-front d-flex flex-column justify-content-center align-items-center">
                  <%= cl_image_tag("#{item.photo.key}", class: "card-image key", width: 144, height: 96) %>
                  <h1><%= item.name %></h1>
                  <p><%= number_to_currency(item.price) %> - <%= item.location %></p>
                </div>
                <div class="equipment-card-back d-flex flex-column justify-content-center align-items-center">
                  <p><%= item.description %></p>
                  <%= link_to 'Rent', equipment_path(item) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
