

<div class="container">

<%= simple_form_for([@equipment, @rental], data:{turbo: :false}) do |f| %>
  <%= f.input :rented_date %>
  <%= f.input :return_date %>

  <%= f.button :submit, class:'btn btn-secondary' %>
<% end %>

<%= link_to "Back to all equipment", root_path, data:{turbo: :false}, class: 'btn btn-secondary mt-3' %>

</div>
