<div class="small-container">
<%= render "/shared/loginslider" %>
  <h3>Rental Details</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Equipment Name: <%= @equipment.name %></h5>
          <p class="card-text">Category: <%= @equipment.category %></p>
          <p class="card-text">Location: <%= @equipment.location %></p>
          <p class="card-text">Price: <%= number_to_currency(@equipment.price) %></p>
          <div class="equipment-description">
            <p class="card-text">Description: <%= @equipment.description %></p>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= simple_form_for([@equipment, @rental], data: { turbo: :false }, input_html: { class: 'animated' }) do |f| %>
         <%= f.input :rented_date, as: :string, input_html: { class: 'form-control datepicker', placeholder: 'Pick a rent date' } %>
  <%= f.input :return_date, as: :string, input_html: { class: 'form-control datepicker', placeholder: 'Pick a return date' } %>
  <%= f.button :submit, 'Rent', class: 'btn btn-primary' %>
<% end %>
      </div>
    </div>
  </div>
  <div class="equipment-image mt-4">
    <%= image_tag @equipment.photo, alt: @equipment.name %>
    <%= link_to "Back to all equipment", root_path, data: { turbo: :false }, class: "btn btn-secondary mt-3" %>
  </div>

  <%# <section class="rented-equipment">
  <h4>Rented Equipment:</h4>
  <% if @equipment.rentals.any? %>
    <%# <% @equipment.rentals.each do |rental| %>
      <%# <div class="rental-details">
        <p>Rented Date: <%= rental.rented_date %></p>
        <%# <p>Return Date: <%= rental.return_date %></p>
        <%# <p>Duration: <%= rental.duration %></p>
        <%# <p>Total Cost: <%= rental.total_cost %></p>
      <%# </div>
      <hr>
    <% end %>
  <%# <% else %>
    <%# <p>No rented equipment records found.</p>
  <% end %>
<%# </section> %>
<%#  %>
<%# </div> %>
<%#  %>
