<div class="nav-bar col-12 d-flex justify-content-around navbar-bottom-color">
  <%= link_to root_path, data: { turbo: :false } do %><%= image_tag "home_pot.svg", class: 'nav-icon' %> <% end %>
  <%= image_tag 'market_pot.svg', class: 'nav-icon' %>
  <%= image_tag 'plants_pot.svg', class: 'nav-icon' %>
  <%= link_to "#offcanvasLogIn", "data-bs-toggle" => "offcanvas" do %><%= image_tag "profile_pot.svg", class: 'nav-icon' %> <% end %>
</div>
