<div class="nav-bar col-12 d-flex justify-content-around navbar-bottom-color">
  <%= link_to root_path do %><%= image_tag "home_pot.svg" %> <% end %>
  <%= image_tag 'market_pot.svg' %>
  <%= image_tag 'plants_pot.svg' %>
  <%= link_to new_user_session_path do %><%= image_tag "profile_pot.svg" %> <% end %>
</div>
